<div layout="row" layout-align="center">
    <div flex="100" flex-gt-sm="70">
      <mat-card>
        <mat-card-content>
          <td-expansion-panel-group>
            <td-expansion-panel *ngFor="let property of properties" label="{{property.title}}" sublabel="{{property.quantity}}{{property.unit}}">
              <div layout-padding>
                <div>面积: {{property.quantity}}{{property.unit}}</div>
                <div>价格: {{property.price}}元</div>
                <div>所有者: {{property.owner}}</div>
                <div>描述:</div>
                <div [innerHTML]="property.description"></div>
                <div>照片:</div>
                <img src="{{property.image}}">
                <button mat-raised-button color="primary" [routerLink]="['/properties/' + property.id]">发布</button>
              </div>
            </td-expansion-panel>
          </td-expansion-panel-group>
        </mat-card-content>
      </mat-card>
    </div>
  </div>