<div layout="row" layout-align="center">
    <div flex="100" flex-gt-sm="80">
    <mat-card>
      <mat-card-content>
          <div style="overflow:auto">
        <table td-data-table>
          <thead>
            <tr td-data-table-column-row>
              <th td-data-table-column *ngFor="let column of columns">
                {{column.label}}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr td-data-table-row *ngFor="let log of logs">
              <td td-data-table-cell *ngFor="let column of columns">
                {{log[column.name]}}
              </td>
            </tr>
          </tbody>
        </table>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
