<div layout="row" layout-align="center">
  <div flex="100" flex-gt-sm="70">
    <mat-card>
      <mat-card-content>
        <mat-vertical-stepper [linear]="true" #stepper="matVerticalStepper">
          <mat-step>
            <ng-template matStepLabel>请再次确认购买信息</ng-template>
            <div layout-padding>
              <div>面积: {{comodity.quantity}}{{comodity.unit}}</div>
              <div>价格: {{comodity.price}}元</div>
              <div>所有者: {{comodity.owner}}</div>
              <div>描述:</div>
              <div [innerHTML]="comodity.description"></div>
              <button color="primary" mat-raised-button matStepperNext>确认</button>
            </div>

          </mat-step>
          <mat-step>
            <ng-template matStepLabel>请阅读合同</ng-template>
            <div layout-padding>
              <img mat-card-image src="https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=3263785486,2556365849&fm=27&gp=0.jpg">
              <button color="primary" mat-raised-button matStepperNext>同意</button>
            </div>

          </mat-step>
          <mat-step>
            <ng-template matStepLabel>转入支付</ng-template>
            <div layout="column">
              <mat-form-field>
                <input matInput placeholder="验证码" type="text" name="vc" [(ngModel)]="vc" required>
                <mat-icon matPrefix>message</mat-icon>
                <a matSuffix class="cursor-pointer" (click)="sendVc()">发送验证码</a>
              </mat-form-field>
              <button color="primary" mat-raised-button (click)="pay()">支付</button>
            </div>
          </mat-step>
        </mat-vertical-stepper>
      </mat-card-content>
    </mat-card>
  </div>
</div>