<div layout="row" layout-align="center">
    <div flex="100" flex-gt-sm="70">
    <mat-card>
      <mat-card-content>
        <h2>岚川方圆 - 以区块链作为底层登记技术，以生态作为基本产业依据，以扶贫作为项目发展目的</h2>
        <p>皖西大别山地林茶区位于安徽省西南部的大别山区东段，是大别山区山地资源的主体集中区域。该地区属于北亚热带温湿季风区，气候温暖湿润，降水充沛。拥有丰富的水电、药材、茶叶、蚕桑、野生动物以及森林资源，是安徽省第二大林茶基地。</p>
        <img mat-card-image src="https://gss3.bdstatic.com/7Po3dSag_xI4khGkpoWK1HF6hhy/baike/c0%3Dbaike150%2C5%2C5%2C150%2C50/sign=2acb745dd539b60059c307e588395e4f/b90e7bec54e736d1102bfbb69b504fc2d5626957.jpg">
        <mat-divider></mat-divider>
        <p>岚川方圆，是一个基于分布式加密的区块链系统，可以为土地流转提供一种全新的解决方案。方圆从当前土地流转的痛点入手，通过开源，透明的操作规则，为构建一个可落地的区块链产品提供支持。</p>
        <img mat-card-image src="http://s4.51cto.com/oss/201802/28/ba2ce36ee2ca2924f7a1f35f0885bb7a.jpg-wh_651x-s_2850146352.jpg">
 
      </mat-card-content>
    </mat-card>
  </div>
</div>

