<div layout="row" layout-align="center">
    <div flex="100" flex-gt-sm="70">
        <mat-card>
            <mat-card-content>
                <div layout="row">
                    <div layout-margin><img style="width:400px;height:250px" src="http://pic3.16pic.com/00/00/42/16pic_42302_b.jpg"></div>
                    <div layout-margin><img style="width:400px;height:250px" src="http://pic.58pic.com/58pic/17/07/54/21n58PICdmh_1024.jpg"></div>
                    <div layout-margin><img style="width:400px;height:250px" src="http://pic.qiantucdn.com/58pic/21/68/94/72f58PICkGJ_1024.jpg"></div>
                  </div>
            </mat-card-content>
        </mat-card>
    <mat-card>
      <mat-card-content>
   
        <div style="overflow:auto">
          <h1>交易中心</h1>
        <table td-data-table>
          <thead>
            <tr td-data-table-column-row>
              <th td-data-table-column *ngFor="let column of columns">
                {{column.label}}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr td-data-table-row class="cursor-pointer" (click)="gotoToken(token.id)" *ngFor="let token of tokens">
              <td td-data-table-cell *ngFor="let column of columns">
                <div *ngIf="column.name == 'type'">
                  <div layout="row">
                    <div><img src="{{token.icon}}"></div>
                    <div layout-margin class="tc-grey-600">{{token.title}}</div>
                  </div>
                </div>
                <div *ngIf="column.name == 'price'">{{token.price}}</div>
                <div *ngIf="column.name == 'volumn'">{{token.volumn}}</div>
                <div *ngIf="column.name == 'amount'">{{token.amount}}</div>
                <div *ngIf="column.name == 'change' && token.trend == 0" class="tc-green-600">{{token.change}}%</div>
                <div *ngIf="column.name == 'change' && token.trend == 1" class="tc-red-600">{{token.change}}%</div>    
              </td>
            </tr>
          </tbody>
        </table>
        </div>
 
      </mat-card-content>
    </mat-card>
  </div>
</div>

